<!doctype html>
<html lang="en" data-bs-theme="auto">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>{{title}} - George O. Wood</title>
		<meta name="description" content="{{description}}" />

		<link
			rel="icon"
			id="favicon"
			type="image/svg+xml"
			href="/favicon-light.svg"
		/>

		<script data-cfasync="false">
			(() => {
				const getStoredTheme = () => {
					try {
						return window.localStorage.getItem('theme');
					} catch {
						return null;
					}
				};
				const getTargetTheme = (theme) => {
					if (theme === 'dark' || theme === 'light') return theme;
					return window.matchMedia('(prefers-color-scheme: dark)')
						.matches
						? 'dark'
						: 'light';
				};
				const storedTheme = getStoredTheme();
				const theme = storedTheme || 'auto';
				const targetTheme = getTargetTheme(theme);
				document.documentElement.setAttribute(
					'data-bs-theme',
					targetTheme
				);
				const favicon = document.getElementById('favicon');
				if (favicon) {
					favicon.href = `/favicon-${targetTheme}.svg`;
				}
			})();
		</script>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Serif:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body class="d-flex flex-column min-vh-100">
		<header class="container mt-4">
			<div class="row justify-content-center">
				<div class="col-auto">
					<nav
						class="d-flex gap-3 flex-wrap justify-content-center align-items-center"
						aria-label="Social links"
					>
						<a
							href="/"
							aria-label="Home"
							class="text-decoration-none text-reset fw-bold"
							>George O. Wood</a
						>
						<div class="btn-group dropdown">
							<button
								id="bd-theme"
								class="btn btn-outline-primary btn-sm dropdown-toggle"
								type="button"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>
								<svg class="bi" role="img">
									<use
										href="/icons.svg#bi-hexagon-half"
									></use>
								</svg>
							</button>
							<ul class="dropdown-menu">
								<li>
									<a
										class="dropdown-item"
										data-bs-theme-value="light"
									>
										<svg class="bi me-2" role="img">
											<use
												href="/icons.svg#bi-hexagon"
											></use>
										</svg>
										Light
									</a>
								</li>
								<li>
									<a
										class="dropdown-item"
										data-bs-theme-value="dark"
									>
										<svg class="bi me-2" role="img">
											<use
												href="/icons.svg#bi-hexagon-fill"
											></use>
										</svg>
										Dark
									</a>
								</li>
								<li>
									<a
										class="dropdown-item"
										data-bs-theme-value="auto"
									>
										<svg class="bi me-2" role="img">
											<use
												href="/icons.svg#bi-hexagon-half"
											></use>
										</svg>
										Auto
									</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</header>

		<main class="flex-grow-1 mt-5 container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="mb-4">
						<a href="/blog/" class="text-decoration-none">
							&larr; Return to posts list
						</a>
					</div>
					<article class="blog-post">
						<header class="mb-4 text-center">
							<h1 class="fw-bolder mb-1">{{title}}</h1>
							<div class="text-muted fst-italic mb-2">
								{{date}}
							</div>
						</header>
						<section class="mb-5">{{content}}</section>
					</article>
				</div>
			</div>
		</main>

		<footer class="container text-center mt-auto pb-3">
			<div class="row justify-content-center">
				<div class="col">
					<p class="mb-0">
						<small>
							<a href="https://gwood.dev">gwood.dev</a>
							&copy; 2026 by
							<a
								href="mailto:hello@gwood.dev?subject=Source:%20Website%20Footer"
								>George O. Wood</a
							>
							is licensed under
							<a
								href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
								target="_blank"
								rel="noopener noreferrer"
								>CC BY-NC-SA 4.0</a
							><br />
							<span class="d-inline-flex flex-wrap gap-1">
								<img
									src="https://mirrors.creativecommons.org/presskit/icons/cc.svg"
									class="cc-icon"
									alt="A small, white circle with the letters 'CC' inside it in black."
									data-bs-toggle="tooltip"
									data-bs-title="Creative Commons"
								/>
								<img
									src="https://mirrors.creativecommons.org/presskit/icons/by.svg"
									class="cc-icon"
									alt="A small, white circle with a black silhouette of a person inside it."
									data-bs-toggle="tooltip"
									data-bs-title="Attribution"
								/>
								<img
									src="https://mirrors.creativecommons.org/presskit/icons/nc.svg"
									class="cc-icon"
									alt="A small, white circle with a black dollar sign inside it, and with a diagonal black line crossing through it."
									data-bs-toggle="tooltip"
									data-bs-title="NonCommercial"
								/>
								<img
									src="https://mirrors.creativecommons.org/presskit/icons/sa.svg"
									class="cc-icon"
									alt="A small, white circle with a black circular arrow oriented anticlockwise inside it."
									data-bs-toggle="tooltip"
									data-bs-title="ShareAlike"
								/>
							</span>
						</small>
					</p>
				</div>
			</div>
		</footer>

		<script type="module" src="/src/ts/main.ts"></script>
	</body>
</html>
