<!doctype html>
<html lang="en" data-bs-theme="auto">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>{{title}} - George O. Wood</title>
		<meta name="description" content="{{description}}" />

		<link
			rel="icon"
			type="image/png"
			href="/assets/favicon/favicon-96x96.png"
			sizes="96x96"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="/assets/favicon/favicon.svg"
		/>
		<link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/assets/favicon/apple-touch-icon.png"
		/>
		<meta name="apple-mobile-web-app-title" content="gwood.dev" />
		<link rel="manifest" href="/assets/favicon/site.webmanifest" />

		<script data-cfasync="false">
			(() => {
				const getStoredTheme = () => {
					try {
						return window.localStorage.getItem('theme');
					} catch {
						return null;
					}
				};
				const getTargetTheme = (theme) => {
					if (theme === 'dark' || theme === 'light') return theme;
					return window.matchMedia('(prefers-color-scheme: dark)')
						.matches
						? 'dark'
						: 'light';
				};
				const storedTheme = getStoredTheme();
				const theme = storedTheme || 'auto';
				document.documentElement.setAttribute(
					'data-bs-theme',
					getTargetTheme(theme)
				);
			})();
		</script>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Serif:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body>
		<main class="container d-flex flex-column min-vh-100">
			<div class="row justify-content-center mt-4">
				<div class="col-auto">
					<nav
						class="d-flex gap-3 flex-wrap justify-content-center align-items-center"
						aria-label="Social links"
					>
						<a
							href="/"
							aria-label="Home"
							class="text-decoration-none text-reset fw-bold"
							>George O. Wood</a
						>
						<span class="text-muted">|</span>
						<a
							href="https://bsky.app/profile/gwood.dev"
							target="_blank"
							rel="noopener noreferrer"
							aria-label="BlueSky (opens in new tab)"
							><svg class="bi icon" role="img">
								<use href="/icons.svg#bi-bluesky"></use></svg
						></a>
						<a
							href="https://github.com/gwo0d"
							target="_blank"
							rel="noopener noreferrer"
							aria-label="GitHub (opens in new tab)"
							><svg class="bi icon" role="img">
								<use href="/icons.svg#bi-github"></use></svg
						></a>
						<a
							href="#"
							data-bs-toggle="modal"
							data-bs-target="#ppModal"
							aria-label="Photography Portfolio (modal on top of content)"
							><svg class="bi icon" role="img">
								<use href="/icons.svg#bi-image"></use></svg
						></a>
						<a
							href="https://orcid.org/0009-0009-3998-6499"
							target="_blank"
							rel="noopener noreferrer"
							aria-label="ORCiD (opens in new tab)"
							><svg class="bi icon" role="img">
								<use
									href="/icons.svg#bi-mortarboard-fill"
								></use></svg
						></a>
					</nav>
				</div>
			</div>

			<div class="flex-grow-1 mt-5">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="mb-4">
							<a href="/blog/" class="text-decoration-none">
								&larr; Return to posts list
							</a>
						</div>
						<article class="blog-post">
							<header class="mb-4 text-center">
								<h1 class="fw-bolder mb-1">{{title}}</h1>
								<div class="text-muted fst-italic mb-2">
									{{date}}
								</div>
							</header>
							<section class="mb-5">{{content}}</section>
						</article>
					</div>
				</div>
			</div>

			<div class="btn-group dropstart m-3 theme-switcher">
				<button
					id="bd-theme"
					class="btn btn-outline-primary btn-sm dropdown-toggle"
					type="button"
					data-bs-toggle="dropdown"
					aria-expanded="false"
				>
					<svg class="bi" role="img">
						<use href="/icons.svg#bi-hexagon-half"></use>
					</svg>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item" data-bs-theme-value="light">
							<svg class="bi me-2" role="img">
								<use href="/icons.svg#bi-hexagon"></use>
							</svg>
							Light
						</a>
					</li>
					<li>
						<a class="dropdown-item" data-bs-theme-value="dark">
							<svg class="bi me-2" role="img">
								<use href="/icons.svg#bi-hexagon-fill"></use>
							</svg>
							Dark
						</a>
					</li>
					<li>
						<a class="dropdown-item" data-bs-theme-value="auto">
							<svg class="bi me-2" role="img">
								<use href="/icons.svg#bi-hexagon-half"></use>
							</svg>
							Auto
						</a>
					</li>
				</ul>
			</div>

			<div class="container text-center mt-auto pb-3">
				<div class="row justify-content-center">
					<div class="col">
						<footer>
							<p>
								<small>
									<a href="https://gwood.dev">gwood.dev</a>
									&copy; 2026 by
									<a
										href="mailto:hello@gwood.dev?subject=Source:%20Website%20Footer"
										>George O. Wood</a
									>
									is licensed under
									<a
										href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
										target="_blank"
										rel="noopener noreferrer"
										>CC BY-NC-SA 4.0</a
									><br />
									<span class="d-inline-flex flex-wrap gap-1">
										<img
											src="https://mirrors.creativecommons.org/presskit/icons/cc.svg"
											class="cc-icon"
											alt="A small, white circle with the letters 'CC' inside it in black."
											data-bs-toggle="tooltip"
											data-bs-title="Creative Commons"
										/>
										<img
											src="https://mirrors.creativecommons.org/presskit/icons/by.svg"
											class="cc-icon"
											alt="A small, white circle with a black silhouette of a person inside it."
											data-bs-toggle="tooltip"
											data-bs-title="Attribution"
										/>
										<img
											src="https://mirrors.creativecommons.org/presskit/icons/nc.svg"
											class="cc-icon"
											alt="A small, white circle with a black dollar sign inside it, and with a diagonal black line crossing through it."
											data-bs-toggle="tooltip"
											data-bs-title="NonCommercial"
										/>
										<img
											src="https://mirrors.creativecommons.org/presskit/icons/sa.svg"
											class="cc-icon"
											alt="A small, white circle with a black circular arrow oriented anticlockwise inside it."
											data-bs-toggle="tooltip"
											data-bs-title="ShareAlike"
										/>
									</span>
								</small>
							</p>
						</footer>
					</div>
				</div>
			</div>
		</main>

		<div
			class="modal fade"
			id="ppModal"
			tabindex="-1"
			aria-labelledby="ppModalLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog modal-fullscreen">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="ppModalLabel">
							Photography Portfolio
						</h4>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"
						></button>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div
								class="row justify-content-center text-primary"
								id="ppGalleryStatus"
							>
								<div class="col-12 text-center">
									<p class="mb-2">Loading photos...</p>
									<div
										class="spinner-grow text-primary"
										role="status"
										aria-label="Loading"
									>
										<span class="visually-hidden"
											>Loading...</span
										>
									</div>
								</div>
							</div>
							<div
								id="ppGallery"
								class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3 mb-4"
								aria-live="polite"
							></div>
							<div class="row text-center">
								<div class="col-12">
									<p>
										See more on
										<a
											class="icon-link"
											href="https://bsky.app/profile/gwood.dev"
											target="_blank"
											rel="noopener noreferrer"
											>BlueSky
											<svg class="bi" role="img">
												<use
													href="/icons.svg#bi-bluesky"
												></use>
											</svg>
										</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="module" src="/src/ts/main.ts"></script>
	</body>
</html>
