// Include Functions First
@import 'bootstrap/scss/functions';

$primary: shade-color(#198754, 10%);

// Light Mode
$body-bg: #fff8ff;
$body-color: #1c2826;

// Dark Mode
$body-bg-dark: $body-color;
$body-color-dark: $body-bg;

// Custom Fonts
$font-family-base: 'JetBrains Mono', monospace;
$font-size-base: 1.25rem;
$font-family-monospace: 'JetBrains Mono', monospace;
$headings-font-family: 'Noto Serif', serif;
$headings-font-weight: 600;
$display-font-weight: 700;

// Other Variable Overrides
$link-decoration: none;
$spinner-animation-speed: 1s;

// Import Variables
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';

// Import Other Required Bootstrap Components
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';

// Import Other Optional Bootstrap Components
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/utilities/api';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
// @import 'bootstrap/scss/tables';
// @import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/dropdown';
@import 'bootstrap/scss/button-group';
// @import 'bootstrap/scss/nav';
// @import 'bootstrap/scss/navbar';
// @import 'bootstrap/scss/card';
// @import 'bootstrap/scss/accordion';
// @import 'bootstrap/scss/breadcrumb';
// @import 'bootstrap/scss/pagination';
// @import 'bootstrap/scss/badge';
// @import 'bootstrap/scss/alert';
// @import 'bootstrap/scss/progress';
// @import 'bootstrap/scss/list-group';
@import 'bootstrap/scss/close';
// @import 'bootstrap/scss/toasts';
@import 'bootstrap/scss/modal';
@import 'bootstrap/scss/tooltip';
// @import 'bootstrap/scss/popover';
// @import 'bootstrap/scss/carousel';
@import 'bootstrap/scss/spinners';
// @import 'bootstrap/scss/offcanvas';
// @import 'bootstrap/scss/placeholders';
@import 'bootstrap/scss/helpers';

// Import Non-Bootstrap Components
.bi {
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon {
	@extend a;
	@include font-size(2.5rem);
}

.theme-switcher {
	position: absolute;
	top: 0;
	right: 0;

	@include media-breakpoint-up(lg) {
		top: auto;
		bottom: 0;
		right: 0;
	}
}

// Photography gallery
#ppGallery {
	.pp-tile {
		aspect-ratio: 1 / 1;
	}

	.pp-img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: 0.25s ease;
		margin-bottom: 0;
	}

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		border: 0;
		padding: 0;
		opacity: 0;
		transition: 0.25s ease;
		background-color: var(--bs-primary);
	}

	.overlay:hover {
		opacity: 0.3;
		cursor: pointer;
	}
}

.cc-icon {
	max-width: 1em;
	max-height: 1em;
	margin-left: 0.2em;
}
