// Include functions first
@import "bootstrap/scss/functions";

// Custom Colours
$body-color: #1c2826;
$body-bg: #fff8f0;
$primary: #ff9505;

// External Fonts and Icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

// Custom Fonts
$font-family-base: "Noto Sans", sans-serif;
$font-size-base: 1.25rem;
$headings-font-family: "Noto Serif", serif;
$headings-font-weight: 600;
$display-font-weight: 750;

// Import the rest of Bootstrap
@import "bootstrap/scss/bootstrap";