// Include Functions First
@import 'bootstrap/scss/functions';

$primary: shade-color(#198754, 10%);

// Light Mode
$body-bg: #fff8ff;
$body-color: #1c2826;

// Dark Mode
$body-bg-dark: $body-color;
$body-color-dark: $body-bg;

// Custom Fonts
$font-family-base: 'JetBrains Mono', monospace;
$font-size-base: 1.25rem;
$font-family-monospace: 'JetBrains Mono', monospace;
$headings-font-family: 'Noto Serif', serif;
$headings-font-weight: 600;
$display-font-weight: 700;

// Other Variable Overrides
$link-decoration: none;

// Import Variables
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';

// Import Other Required Bootstrap Components
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';

// Import Other Optional Bootstrap Components
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/utilities/api';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
// @import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import 'bootstrap/scss/buttons';
@import "bootstrap/scss/transitions";
@import 'bootstrap/scss/dropdown';
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar";
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
// @import "bootstrap/scss/offcanvas";
// @import "bootstrap/scss/placeholders";
// @import 'bootstrap/scss/helpers';

// Import Non-Bootstrap Components
$bootstrap-icons-font-dir: 'bootstrap-icons/font/fonts';
@import 'bootstrap-icons/font/bootstrap-icons';


$custom-icons-font-family: "custom-icons" !default;
$custom-icons-font-path: "../assets/fonts" !default;

$icon-aoco: "\e900";

@font-face {
    font-family: '#{$custom-icons-font-family}';
    src: url('#{$custom-icons-font-path}/#{$custom-icons-font-family}.eot?aoqow0');
    src: url('#{$custom-icons-font-path}/#{$custom-icons-font-family}.eot?aoqow0#iefix') format('embedded-opentype'),
    url('#{$custom-icons-font-path}/#{$custom-icons-font-family}.ttf?aoqow0') format('truetype'),
    url('#{$custom-icons-font-path}/#{$custom-icons-font-family}.woff?aoqow0') format('woff'),
    url('#{$custom-icons-font-path}/#{$custom-icons-font-family}.svg?aoqow0##{$custom-icons-font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.custom-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$custom-icons-font-family}' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-aoco {
    &:before {
        content: $icon-aoco;
    }
}

.icon {
    @extend a;
    @include font-size(2.5rem);
}

.theme-switcher {
    position: absolute;
    top: 0;
    right: 0;

    @include media-breakpoint-up(lg) {
        top: auto;
        bottom: 0;
        right: 0;
    }
}