// Custom Colours
$body-color: #1c2826;
$body-bg: #fff8f0;
$primary: #ff9505;

// Custom Fonts
$font-family-base: "Noto Sans", sans-serif;
$font-size-base: 1.25rem;
$headings-font-family: "Noto Serif", serif;
$headings-font-weight: 600;
$display-font-weight: 750;

// Import Bootstrap and override variables
@use "bootstrap/scss/bootstrap" with (
  $font-family-base: $font-family-base,
  $font-size-base: $font-size-base,
  $headings-font-family: $headings-font-family,
  $headings-font-weight: $headings-font-weight,
  $display-font-weight: $display-font-weight,
  $body-color: $body-color,
  $body-bg: $body-bg,
  $primary: $primary
);

// Custom Styles
.social-icon {
  font-size: 2.5rem;
}